=begin
#Flat API

#The Flat API allows you to easily extend the abilities of the [Flat Platform](https://flat.io), with a wide range of use cases including the following:  * Creating and importing new music scores using MusicXML, MIDI, Guitar Pro, MuseScore, ABC notation, and many other formats * Browsing, updating, copying, exporting the user's scores (for example in MP3, WAV or MIDI) * Managing educational resources with Flat for Education: creating & updating the organization accounts, the classes, rosters and assignments.  The Flat API is built on HTTP. Our API is RESTful: it has predictable resource URLs. It returns HTTP response codes to indicate errors. It also accepts and returns JSON in the HTTP body. The [schema](/swagger.yaml) of this API follows the [OpenAPI Initiative (OAI) specification](https://www.openapis.org/), you can use and work with [compatible Swagger tools](http://swagger.io/open-source-integrations/). This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/).  You can use your favorite HTTP/REST library for your programming language to use Flat's API. This specification and reference are [available on GitHub](https://github.com/FlatIO/api-reference).  Getting Started and learn more:  * [API Overview and introduction](https://flat.io/developers/docs/api/) * [Authentication (Personal Access Tokens or OAuth2)](https://flat.io/developers/docs/api/authentication.html) * [SDKs](https://flat.io/developers/docs/api/sdks.html) * [Rate Limits](https://flat.io/developers/docs/api/rate-limits.html) * [Changelog](https://flat.io/developers/docs/api/changelog.html) 

The version of the OpenAPI document: 2.26.2
Contact: developers@flat.io
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module FlatApi
  class GroupApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a student to a group
    # Add a student to the specified group (must be in the same class)
    # @param group [String] Unique identifier of a Flat group 
    # @param add_group_user_request [AddGroupUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AddGroupUser200Response]
    def add_group_user(group, add_group_user_request, opts = {})
      data, _status_code, _headers = add_group_user_with_http_info(group, add_group_user_request, opts)
      data
    end

    # Add a student to a group
    # Add a student to the specified group (must be in the same class)
    # @param group [String] Unique identifier of a Flat group 
    # @param add_group_user_request [AddGroupUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddGroupUser200Response, Integer, Hash)>] AddGroupUser200Response data, response status code and response headers
    def add_group_user_with_http_info(group, add_group_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupApi.add_group_user ...'
      end
      # verify the required parameter 'group' is set
      if @api_client.config.client_side_validation && group.nil?
        fail ArgumentError, "Missing the required parameter 'group' when calling GroupApi.add_group_user"
      end
      # verify the required parameter 'add_group_user_request' is set
      if @api_client.config.client_side_validation && add_group_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_group_user_request' when calling GroupApi.add_group_user"
      end
      # resource path
      local_var_path = '/groups/{group}/users'.sub('{group}', CGI.escape(group.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_group_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddGroupUser200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"GroupApi.add_group_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupApi#add_group_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new group
    # Create a group of the given type, tied to a classroom, optionally with initial members. 
    # @param group_creation [GroupCreation] 
    # @param [Hash] opts the optional parameters
    # @return [GroupDetails]
    def create_group(group_creation, opts = {})
      data, _status_code, _headers = create_group_with_http_info(group_creation, opts)
      data
    end

    # Create a new group
    # Create a group of the given type, tied to a classroom, optionally with initial members. 
    # @param group_creation [GroupCreation] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupDetails, Integer, Hash)>] GroupDetails data, response status code and response headers
    def create_group_with_http_info(group_creation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupApi.create_group ...'
      end
      # verify the required parameter 'group_creation' is set
      if @api_client.config.client_side_validation && group_creation.nil?
        fail ArgumentError, "Missing the required parameter 'group_creation' when calling GroupApi.create_group"
      end
      # resource path
      local_var_path = '/groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(group_creation)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupDetails'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"GroupApi.create_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupApi#create_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a group
    # Delete a group. Only available to teachers of the classroom.
    # @param group [String] Unique identifier of a Flat group 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_group(group, opts = {})
      delete_group_with_http_info(group, opts)
      nil
    end

    # Delete a group
    # Delete a group. Only available to teachers of the classroom.
    # @param group [String] Unique identifier of a Flat group 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_group_with_http_info(group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupApi.delete_group ...'
      end
      # verify the required parameter 'group' is set
      if @api_client.config.client_side_validation && group.nil?
        fail ArgumentError, "Missing the required parameter 'group' when calling GroupApi.delete_group"
      end
      # resource path
      local_var_path = '/groups/{group}'.sub('{group}', CGI.escape(group.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"GroupApi.delete_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupApi#delete_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get group information
    # @param group [String] Unique identifier of a Flat group 
    # @param [Hash] opts the optional parameters
    # @return [GroupDetails]
    def get_group_details(group, opts = {})
      data, _status_code, _headers = get_group_details_with_http_info(group, opts)
      data
    end

    # Get group information
    # @param group [String] Unique identifier of a Flat group 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupDetails, Integer, Hash)>] GroupDetails data, response status code and response headers
    def get_group_details_with_http_info(group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupApi.get_group_details ...'
      end
      # verify the required parameter 'group' is set
      if @api_client.config.client_side_validation && group.nil?
        fail ArgumentError, "Missing the required parameter 'group' when calling GroupApi.get_group_details"
      end
      # resource path
      local_var_path = '/groups/{group}'.sub('{group}', CGI.escape(group.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GroupDetails'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"GroupApi.get_group_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupApi#get_group_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List group's scores
    # Get the list of scores shared with a group. 
    # @param group [String] Unique identifier of a Flat group 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :parent Only return the scores forked from the score &#x60;parent&#x60;
    # @return [Array<ScoreDetails>]
    def get_group_scores(group, opts = {})
      data, _status_code, _headers = get_group_scores_with_http_info(group, opts)
      data
    end

    # List group&#39;s scores
    # Get the list of scores shared with a group. 
    # @param group [String] Unique identifier of a Flat group 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :parent Only return the scores forked from the score &#x60;parent&#x60;
    # @return [Array<(Array<ScoreDetails>, Integer, Hash)>] Array<ScoreDetails> data, response status code and response headers
    def get_group_scores_with_http_info(group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupApi.get_group_scores ...'
      end
      # verify the required parameter 'group' is set
      if @api_client.config.client_side_validation && group.nil?
        fail ArgumentError, "Missing the required parameter 'group' when calling GroupApi.get_group_scores"
      end
      # resource path
      local_var_path = '/groups/{group}/scores'.sub('{group}', CGI.escape(group.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'parent'] = opts[:'parent'] if !opts[:'parent'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ScoreDetails>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"GroupApi.get_group_scores",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupApi#get_group_scores\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List group's users
    # @param group [String] Unique identifier of a Flat group 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :source Filter the users by their source 
    # @return [Array<UserPublic>]
    def list_group_users(group, opts = {})
      data, _status_code, _headers = list_group_users_with_http_info(group, opts)
      data
    end

    # List group&#39;s users
    # @param group [String] Unique identifier of a Flat group 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :source Filter the users by their source 
    # @return [Array<(Array<UserPublic>, Integer, Hash)>] Array<UserPublic> data, response status code and response headers
    def list_group_users_with_http_info(group, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupApi.list_group_users ...'
      end
      # verify the required parameter 'group' is set
      if @api_client.config.client_side_validation && group.nil?
        fail ArgumentError, "Missing the required parameter 'group' when calling GroupApi.list_group_users"
      end
      allowable_values = ["googleClassroom", "microsoftGraph", "clever"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/groups/{group}/users'.sub('{group}', CGI.escape(group.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UserPublic>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"GroupApi.list_group_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupApi#list_group_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List groups
    # List all groups of a given type, filtered by either a classroom or an assignment. 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :classroom Classroom ID to filter by
    # @option opts [String] :assignment Assignment ID to filter by
    # @return [Array<GroupDetails>]
    def list_groups(type, opts = {})
      data, _status_code, _headers = list_groups_with_http_info(type, opts)
      data
    end

    # List groups
    # List all groups of a given type, filtered by either a classroom or an assignment. 
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :classroom Classroom ID to filter by
    # @option opts [String] :assignment Assignment ID to filter by
    # @return [Array<(Array<GroupDetails>, Integer, Hash)>] Array<GroupDetails> data, response status code and response headers
    def list_groups_with_http_info(type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupApi.list_groups ...'
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling GroupApi.list_groups"
      end
      # verify enum value
      allowable_values = ["classStudentsSubGroup", "assignmentStudentsSubGroup"]
      if @api_client.config.client_side_validation && !allowable_values.include?(type)
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/groups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = type
      query_params[:'classroom'] = opts[:'classroom'] if !opts[:'classroom'].nil?
      query_params[:'assignment'] = opts[:'assignment'] if !opts[:'assignment'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<GroupDetails>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"GroupApi.list_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupApi#list_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a student from a class group
    # Remove a student from a class group
    # @param group [String] Unique identifier of a Flat group 
    # @param user [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_group_user(group, user, opts = {})
      remove_group_user_with_http_info(group, user, opts)
      nil
    end

    # Remove a student from a class group
    # Remove a student from a class group
    # @param group [String] Unique identifier of a Flat group 
    # @param user [String] User ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_group_user_with_http_info(group, user, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupApi.remove_group_user ...'
      end
      # verify the required parameter 'group' is set
      if @api_client.config.client_side_validation && group.nil?
        fail ArgumentError, "Missing the required parameter 'group' when calling GroupApi.remove_group_user"
      end
      # verify the required parameter 'user' is set
      if @api_client.config.client_side_validation && user.nil?
        fail ArgumentError, "Missing the required parameter 'user' when calling GroupApi.remove_group_user"
      end
      # resource path
      local_var_path = '/groups/{group}/users/{user}'.sub('{group}', CGI.escape(group.to_s)).sub('{user}', CGI.escape(user.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"GroupApi.remove_group_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupApi#remove_group_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rename a group
    # Rename a sub-group. Only available for class student groups.
    # @param group [String] Unique identifier of a Flat group 
    # @param rename_group_request [RenameGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GroupDetails]
    def rename_group(group, rename_group_request, opts = {})
      data, _status_code, _headers = rename_group_with_http_info(group, rename_group_request, opts)
      data
    end

    # Rename a group
    # Rename a sub-group. Only available for class student groups.
    # @param group [String] Unique identifier of a Flat group 
    # @param rename_group_request [RenameGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GroupDetails, Integer, Hash)>] GroupDetails data, response status code and response headers
    def rename_group_with_http_info(group, rename_group_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GroupApi.rename_group ...'
      end
      # verify the required parameter 'group' is set
      if @api_client.config.client_side_validation && group.nil?
        fail ArgumentError, "Missing the required parameter 'group' when calling GroupApi.rename_group"
      end
      # verify the required parameter 'rename_group_request' is set
      if @api_client.config.client_side_validation && rename_group_request.nil?
        fail ArgumentError, "Missing the required parameter 'rename_group_request' when calling GroupApi.rename_group"
      end
      # resource path
      local_var_path = '/groups/{group}'.sub('{group}', CGI.escape(group.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rename_group_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GroupDetails'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"GroupApi.rename_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GroupApi#rename_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
