=begin
#Flat API

#The Flat API allows you to easily extend the abilities of the [Flat Platform](https://flat.io), with a wide range of use cases including the following:  * Creating and importing new music scores using MusicXML, MIDI, Guitar Pro, MuseScore, ABC notation, and many other formats * Browsing, updating, copying, exporting the user's scores (for example in MP3, WAV or MIDI) * Managing educational resources with Flat for Education: creating & updating the organization accounts, the classes, rosters and assignments.  The Flat API is built on HTTP. Our API is RESTful It has predictable resource URLs. It returns HTTP response codes to indicate errors. It also accepts and returns JSON in the HTTP body. The [schema](/swagger.yaml) of this API follows the [OpenAPI Initiative (OAI) specification](https://www.openapis.org/), you can use and work with [compatible Swagger tools](http://swagger.io/open-source-integrations/). This API features Cross-Origin Resource Sharing (CORS) implemented in compliance with [W3C spec](https://www.w3.org/TR/cors/).  You can use your favorite HTTP/REST library for your programming language to use Flat's API. This specification and reference is [available on Github](https://github.com/FlatIO/api-reference).  Getting Started and learn more:  * [API Overview and introduction](https://flat.io/developers/docs/api/) * [Authentication (Personal Access Tokens or OAuth2)](https://flat.io/developers/docs/api/authentication.html) * [SDKs](https://flat.io/developers/docs/api/sdks.html) * [Rate Limits](https://flat.io/developers/docs/api/rate-limits.html) * [Changelog](https://flat.io/developers/docs/api/changelog.html) 

The version of the OpenAPI document: 2.26.1
Contact: developers@flat.io
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module FlatApi
  class OMRApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a file to an OMR job
    # Add one image or PDF to a draft job. Call once per file; files keep their upload order.
    # @param job [String] Unique identifier of the OMR job
    # @param omr_job_file_upload [OmrJobFileUpload] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [OmrJobFileUploadResult]
    def add_omr_job_file(job, omr_job_file_upload, opts = {})
      data, _status_code, _headers = add_omr_job_file_with_http_info(job, omr_job_file_upload, opts)
      data
    end

    # Add a file to an OMR job
    # Add one image or PDF to a draft job. Call once per file; files keep their upload order.
    # @param job [String] Unique identifier of the OMR job
    # @param omr_job_file_upload [OmrJobFileUpload] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [Array<(OmrJobFileUploadResult, Integer, Hash)>] OmrJobFileUploadResult data, response status code and response headers
    def add_omr_job_file_with_http_info(job, omr_job_file_upload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OMRApi.add_omr_job_file ...'
      end
      # verify the required parameter 'job' is set
      if @api_client.config.client_side_validation && job.nil?
        fail ArgumentError, "Missing the required parameter 'job' when calling OMRApi.add_omr_job_file"
      end
      # verify the required parameter 'omr_job_file_upload' is set
      if @api_client.config.client_side_validation && omr_job_file_upload.nil?
        fail ArgumentError, "Missing the required parameter 'omr_job_file_upload' when calling OMRApi.add_omr_job_file"
      end
      # resource path
      local_var_path = '/omr/jobs/{job}/files'.sub('{job}', CGI.escape(job.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Flat-Locale'] = opts[:'x_flat_locale'] if !opts[:'x_flat_locale'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(omr_job_file_upload)

      # return_type
      return_type = opts[:debug_return_type] || 'OmrJobFileUploadResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"OMRApi.add_omr_job_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OMRApi#add_omr_job_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel an OMR job
    # Cancel a draft or in-flight job. Any charged credits are reversed.
    # @param job [String] Unique identifier of the OMR job
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [OmrJob]
    def cancel_omr_job(job, opts = {})
      data, _status_code, _headers = cancel_omr_job_with_http_info(job, opts)
      data
    end

    # Cancel an OMR job
    # Cancel a draft or in-flight job. Any charged credits are reversed.
    # @param job [String] Unique identifier of the OMR job
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [Array<(OmrJob, Integer, Hash)>] OmrJob data, response status code and response headers
    def cancel_omr_job_with_http_info(job, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OMRApi.cancel_omr_job ...'
      end
      # verify the required parameter 'job' is set
      if @api_client.config.client_side_validation && job.nil?
        fail ArgumentError, "Missing the required parameter 'job' when calling OMRApi.cancel_omr_job"
      end
      # resource path
      local_var_path = '/omr/jobs/{job}/cancel'.sub('{job}', CGI.escape(job.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Flat-Locale'] = opts[:'x_flat_locale'] if !opts[:'x_flat_locale'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OmrJob'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"OMRApi.cancel_omr_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OMRApi#cancel_omr_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an OMR job
    # Create an Optical Music Recognition job. There are two ways to call this endpoint:  * **Draft:** send the parameters without `files` to create an empty job, then add   files with `addOmrJobFile`, then run it with `startOmrJob`. Best for multiple   images or incremental mobile capture. * **One-shot:** include `files` and `autoStart: true` to import in a single request.   Best for a single PDF or a third-party integration.  Declare the interactive steps your client supports in `interactiveSteps`: the pipeline runs fully automatically and only pauses at the steps you list. Steps you do not list, including ones added in the future, are auto-resolved with server defaults, so older clients never break. 
    # @param omr_job_creation [OmrJobCreation] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [OmrJob]
    def create_omr_job(omr_job_creation, opts = {})
      data, _status_code, _headers = create_omr_job_with_http_info(omr_job_creation, opts)
      data
    end

    # Create an OMR job
    # Create an Optical Music Recognition job. There are two ways to call this endpoint:  * **Draft:** send the parameters without &#x60;files&#x60; to create an empty job, then add   files with &#x60;addOmrJobFile&#x60;, then run it with &#x60;startOmrJob&#x60;. Best for multiple   images or incremental mobile capture. * **One-shot:** include &#x60;files&#x60; and &#x60;autoStart: true&#x60; to import in a single request.   Best for a single PDF or a third-party integration.  Declare the interactive steps your client supports in &#x60;interactiveSteps&#x60;: the pipeline runs fully automatically and only pauses at the steps you list. Steps you do not list, including ones added in the future, are auto-resolved with server defaults, so older clients never break. 
    # @param omr_job_creation [OmrJobCreation] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [Array<(OmrJob, Integer, Hash)>] OmrJob data, response status code and response headers
    def create_omr_job_with_http_info(omr_job_creation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OMRApi.create_omr_job ...'
      end
      # verify the required parameter 'omr_job_creation' is set
      if @api_client.config.client_side_validation && omr_job_creation.nil?
        fail ArgumentError, "Missing the required parameter 'omr_job_creation' when calling OMRApi.create_omr_job"
      end
      # resource path
      local_var_path = '/omr/jobs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Flat-Locale'] = opts[:'x_flat_locale'] if !opts[:'x_flat_locale'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(omr_job_creation)

      # return_type
      return_type = opts[:debug_return_type] || 'OmrJob'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"OMRApi.create_omr_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OMRApi#create_omr_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an OMR job's data
    # Erase a job's uploaded files and recognition results now, instead of waiting for its retention deadline. Use this to serve a deletion request from your own end user.  Reaches the same end state as the scheduled cleanup: the files are gone, the job keeps the `status` it finished with, stays listable, and reports `retention.expiredDate`. Downloads then fail with `OMR_JOB_EXPIRED`.  Only available for jobs whose `output` is `musicxml`. Library imports are not covered by the retention policy and are rejected with `OMR_JOB_NOT_EXPIRABLE`; delete the resulting score instead.  The job must have finished (`done`, `error` or `canceled`). A draft or in-flight job is rejected with `OMR_JOB_IN_PROGRESS`: cancel it first, then delete. Deleting never cancels on your behalf, because cancellation reverses charged credits and that must not happen as a side effect of erasing data.  Calling this again on an already-erased job succeeds and changes nothing. 
    # @param job [String] Unique identifier of the OMR job
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [OmrJob]
    def delete_omr_job(job, opts = {})
      data, _status_code, _headers = delete_omr_job_with_http_info(job, opts)
      data
    end

    # Delete an OMR job&#39;s data
    # Erase a job&#39;s uploaded files and recognition results now, instead of waiting for its retention deadline. Use this to serve a deletion request from your own end user.  Reaches the same end state as the scheduled cleanup: the files are gone, the job keeps the &#x60;status&#x60; it finished with, stays listable, and reports &#x60;retention.expiredDate&#x60;. Downloads then fail with &#x60;OMR_JOB_EXPIRED&#x60;.  Only available for jobs whose &#x60;output&#x60; is &#x60;musicxml&#x60;. Library imports are not covered by the retention policy and are rejected with &#x60;OMR_JOB_NOT_EXPIRABLE&#x60;; delete the resulting score instead.  The job must have finished (&#x60;done&#x60;, &#x60;error&#x60; or &#x60;canceled&#x60;). A draft or in-flight job is rejected with &#x60;OMR_JOB_IN_PROGRESS&#x60;: cancel it first, then delete. Deleting never cancels on your behalf, because cancellation reverses charged credits and that must not happen as a side effect of erasing data.  Calling this again on an already-erased job succeeds and changes nothing. 
    # @param job [String] Unique identifier of the OMR job
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [Array<(OmrJob, Integer, Hash)>] OmrJob data, response status code and response headers
    def delete_omr_job_with_http_info(job, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OMRApi.delete_omr_job ...'
      end
      # verify the required parameter 'job' is set
      if @api_client.config.client_side_validation && job.nil?
        fail ArgumentError, "Missing the required parameter 'job' when calling OMRApi.delete_omr_job"
      end
      # resource path
      local_var_path = '/omr/jobs/{job}'.sub('{job}', CGI.escape(job.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Flat-Locale'] = opts[:'x_flat_locale'] if !opts[:'x_flat_locale'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OmrJob'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"OMRApi.delete_omr_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OMRApi#delete_omr_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # OMR capabilities and limits
    # Advertises the supported steps, export formats, limits, cost-per-page, remaining credits and locales, so clients can feature-detect instead of hardcoding behavior.  Authentication is optional: called without an account, the limits are those of the free plan and `remainingCredits` is omitted. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [OmrCapabilities]
    def get_omr_capabilities(opts = {})
      data, _status_code, _headers = get_omr_capabilities_with_http_info(opts)
      data
    end

    # OMR capabilities and limits
    # Advertises the supported steps, export formats, limits, cost-per-page, remaining credits and locales, so clients can feature-detect instead of hardcoding behavior.  Authentication is optional: called without an account, the limits are those of the free plan and &#x60;remainingCredits&#x60; is omitted. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [Array<(OmrCapabilities, Integer, Hash)>] OmrCapabilities data, response status code and response headers
    def get_omr_capabilities_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OMRApi.get_omr_capabilities ...'
      end
      # resource path
      local_var_path = '/omr/capabilities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Flat-Locale'] = opts[:'x_flat_locale'] if !opts[:'x_flat_locale'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OmrCapabilities'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"OMRApi.get_omr_capabilities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OMRApi#get_omr_capabilities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an OMR job
    # Get the current state of an OMR job. This is the primary polling endpoint. Pass `wait` to long-poll until the state changes. 
    # @param job [String] Unique identifier of the OMR job
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :wait Long-poll up to this many seconds for a state change before returning.
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [OmrJob]
    def get_omr_job(job, opts = {})
      data, _status_code, _headers = get_omr_job_with_http_info(job, opts)
      data
    end

    # Get an OMR job
    # Get the current state of an OMR job. This is the primary polling endpoint. Pass &#x60;wait&#x60; to long-poll until the state changes. 
    # @param job [String] Unique identifier of the OMR job
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :wait Long-poll up to this many seconds for a state change before returning.
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [Array<(OmrJob, Integer, Hash)>] OmrJob data, response status code and response headers
    def get_omr_job_with_http_info(job, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OMRApi.get_omr_job ...'
      end
      # verify the required parameter 'job' is set
      if @api_client.config.client_side_validation && job.nil?
        fail ArgumentError, "Missing the required parameter 'job' when calling OMRApi.get_omr_job"
      end
      if @api_client.config.client_side_validation && !opts[:'wait'].nil? && opts[:'wait'] > 25
        fail ArgumentError, 'invalid value for "opts[:"wait"]" when calling OMRApi.get_omr_job, must be smaller than or equal to 25.'
      end

      if @api_client.config.client_side_validation && !opts[:'wait'].nil? && opts[:'wait'] < 0
        fail ArgumentError, 'invalid value for "opts[:"wait"]" when calling OMRApi.get_omr_job, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/omr/jobs/{job}'.sub('{job}', CGI.escape(job.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'wait'] = opts[:'wait'] if !opts[:'wait'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Flat-Locale'] = opts[:'x_flat_locale'] if !opts[:'x_flat_locale'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OmrJob'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"OMRApi.get_omr_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OMRApi#get_omr_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download the finalized result
    # Stream the finalized result in the requested format. Available once the job is `done`. For `output: musicxml` jobs this is the primary way to retrieve the result; no library score is created. 
    # @param job [String] Unique identifier of the OMR job
    # @param format [String] Export format. New formats may be added over time; request what your client supports.  * &#x60;musicxml&#x60;: Uncompressed MusicXML (plain text &#x60;.xml&#x60;, &#x60;application/vnd.recordare.musicxml+xml&#x60;). * &#x60;mxl&#x60;: Compressed MusicXML (zip archive &#x60;.mxl&#x60;, &#x60;application/vnd.recordare.musicxml&#x60;), the same notation as &#x60;musicxml&#x60; but smaller to download. * &#x60;midi&#x60;: Standard MIDI file (&#x60;.mid&#x60;, &#x60;audio/midi&#x60;). * &#x60;thumbnail.png&#x60;: PNG preview of the first page (&#x60;image/png&#x60;). 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [File]
    def get_omr_job_export(job, format, opts = {})
      data, _status_code, _headers = get_omr_job_export_with_http_info(job, format, opts)
      data
    end

    # Download the finalized result
    # Stream the finalized result in the requested format. Available once the job is &#x60;done&#x60;. For &#x60;output: musicxml&#x60; jobs this is the primary way to retrieve the result; no library score is created. 
    # @param job [String] Unique identifier of the OMR job
    # @param format [String] Export format. New formats may be added over time; request what your client supports.  * &#x60;musicxml&#x60;: Uncompressed MusicXML (plain text &#x60;.xml&#x60;, &#x60;application/vnd.recordare.musicxml+xml&#x60;). * &#x60;mxl&#x60;: Compressed MusicXML (zip archive &#x60;.mxl&#x60;, &#x60;application/vnd.recordare.musicxml&#x60;), the same notation as &#x60;musicxml&#x60; but smaller to download. * &#x60;midi&#x60;: Standard MIDI file (&#x60;.mid&#x60;, &#x60;audio/midi&#x60;). * &#x60;thumbnail.png&#x60;: PNG preview of the first page (&#x60;image/png&#x60;). 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def get_omr_job_export_with_http_info(job, format, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OMRApi.get_omr_job_export ...'
      end
      # verify the required parameter 'job' is set
      if @api_client.config.client_side_validation && job.nil?
        fail ArgumentError, "Missing the required parameter 'job' when calling OMRApi.get_omr_job_export"
      end
      # verify the required parameter 'format' is set
      if @api_client.config.client_side_validation && format.nil?
        fail ArgumentError, "Missing the required parameter 'format' when calling OMRApi.get_omr_job_export"
      end
      # verify enum value
      allowable_values = ["musicxml", "mxl", "midi", "thumbnail.png"]
      if @api_client.config.client_side_validation && !allowable_values.include?(format)
        fail ArgumentError, "invalid value for \"format\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/omr/jobs/{job}/exports/{format}'.sub('{job}', CGI.escape(job.to_s)).sub('{format}', CGI.escape(format.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream', 'application/json']) unless header_params['Accept']
      header_params[:'X-Flat-Locale'] = opts[:'x_flat_locale'] if !opts[:'x_flat_locale'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"OMRApi.get_omr_job_export",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OMRApi#get_omr_job_export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an input page image
    # Fetch one of the job's input files (a page image or PDF) by index, for the review UI.  Once data retention has erased the job, this returns 409 `OMR_JOB_EXPIRED`. Read `retention.expiredDate` on the job to tell that case apart before requesting a file. 
    # @param job [String] Unique identifier of the OMR job
    # @param index [Integer] 0-based index of the input file (page) to fetch.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [File]
    def get_omr_job_file(job, index, opts = {})
      data, _status_code, _headers = get_omr_job_file_with_http_info(job, index, opts)
      data
    end

    # Get an input page image
    # Fetch one of the job&#39;s input files (a page image or PDF) by index, for the review UI.  Once data retention has erased the job, this returns 409 &#x60;OMR_JOB_EXPIRED&#x60;. Read &#x60;retention.expiredDate&#x60; on the job to tell that case apart before requesting a file. 
    # @param job [String] Unique identifier of the OMR job
    # @param index [Integer] 0-based index of the input file (page) to fetch.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def get_omr_job_file_with_http_info(job, index, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OMRApi.get_omr_job_file ...'
      end
      # verify the required parameter 'job' is set
      if @api_client.config.client_side_validation && job.nil?
        fail ArgumentError, "Missing the required parameter 'job' when calling OMRApi.get_omr_job_file"
      end
      # verify the required parameter 'index' is set
      if @api_client.config.client_side_validation && index.nil?
        fail ArgumentError, "Missing the required parameter 'index' when calling OMRApi.get_omr_job_file"
      end
      # resource path
      local_var_path = '/omr/jobs/{job}/files/{index}'.sub('{job}', CGI.escape(job.to_s)).sub('{index}', CGI.escape(index.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['image/jpeg', 'application/json']) unless header_params['Accept']
      header_params[:'X-Flat-Locale'] = opts[:'x_flat_locale'] if !opts[:'x_flat_locale'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"OMRApi.get_omr_job_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OMRApi#get_omr_job_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List credit history
    # The credit ledger of the authenticated account, sorted by creation date descending (most recent entry first).  Every entry that moved the balance is listed: the deductions taken when an import runs, and the top-ups added by a credit pack.  Reversing a deduction does not add an entry, it flips the original one's `state` to `canceled`. Canceled entries stay in the list, so an import that was charged and then failed still shows its deduction rather than disappearing. Read `state` to tell the two apart, and sum only `active` entries. A refund can additionally add a positive entry when cancelling alone could not restore the full cost, for instance because the plan's allowance has since reset.  The current balance is not computed from this list: read it from `getOmrCapabilities`. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit This is the maximum number of objects that may be returned (default to 50)
    # @option opts [String] :_next An opaque string cursor to fetch the next page of data. The paginated API URLs are returned in the &#x60;Link&#x60; header when requesting the API. These URLs will contain a &#x60;next&#x60; and &#x60;previous&#x60; cursor based on the available data. 
    # @option opts [String] :previous An opaque string cursor to fetch the previous page of data. The paginated API URLs are returned in the &#x60;Link&#x60; header when requesting the API. These URLs will contain a &#x60;next&#x60; and &#x60;previous&#x60; cursor based on the available data. 
    # @return [Array<CreditTransaction>]
    def list_billing_credits_history(opts = {})
      data, _status_code, _headers = list_billing_credits_history_with_http_info(opts)
      data
    end

    # List credit history
    # The credit ledger of the authenticated account, sorted by creation date descending (most recent entry first).  Every entry that moved the balance is listed: the deductions taken when an import runs, and the top-ups added by a credit pack.  Reversing a deduction does not add an entry, it flips the original one&#39;s &#x60;state&#x60; to &#x60;canceled&#x60;. Canceled entries stay in the list, so an import that was charged and then failed still shows its deduction rather than disappearing. Read &#x60;state&#x60; to tell the two apart, and sum only &#x60;active&#x60; entries. A refund can additionally add a positive entry when cancelling alone could not restore the full cost, for instance because the plan&#39;s allowance has since reset.  The current balance is not computed from this list: read it from &#x60;getOmrCapabilities&#x60;. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit This is the maximum number of objects that may be returned (default to 50)
    # @option opts [String] :_next An opaque string cursor to fetch the next page of data. The paginated API URLs are returned in the &#x60;Link&#x60; header when requesting the API. These URLs will contain a &#x60;next&#x60; and &#x60;previous&#x60; cursor based on the available data. 
    # @option opts [String] :previous An opaque string cursor to fetch the previous page of data. The paginated API URLs are returned in the &#x60;Link&#x60; header when requesting the API. These URLs will contain a &#x60;next&#x60; and &#x60;previous&#x60; cursor based on the available data. 
    # @return [Array<(Array<CreditTransaction>, Integer, Hash)>] Array<CreditTransaction> data, response status code and response headers
    def list_billing_credits_history_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OMRApi.list_billing_credits_history ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OMRApi.list_billing_credits_history, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OMRApi.list_billing_credits_history, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/billing/credits/history'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'next'] = opts[:'_next'] if !opts[:'_next'].nil?
      query_params[:'previous'] = opts[:'previous'] if !opts[:'previous'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CreditTransaction>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"OMRApi.list_billing_credits_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OMRApi#list_billing_credits_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List OMR jobs
    # List the caller's OMR jobs, for resuming work or cleaning up abandoned drafts.
    # @param [Hash] opts the optional parameters
    # @option opts [OmrJobStatus] :status Filter jobs by status
    # @option opts [Boolean] :expired Filter by data-retention state, independently of &#x60;status&#x60;.  * &#x60;true&#x60;: only jobs whose files have been erased. * &#x60;false&#x60;: only jobs that still hold their files.  Omit to get both. A job keeps the &#x60;status&#x60; it finished with after erasure, so this is the only way to tell the two apart. 
    # @option opts [Integer] :limit This is the maximum number of objects that may be returned (default to 50)
    # @option opts [String] :_next An opaque string cursor to fetch the next page of data. The paginated API URLs are returned in the &#x60;Link&#x60; header when requesting the API. These URLs will contain a &#x60;next&#x60; and &#x60;previous&#x60; cursor based on the available data. 
    # @option opts [String] :previous An opaque string cursor to fetch the previous page of data. The paginated API URLs are returned in the &#x60;Link&#x60; header when requesting the API. These URLs will contain a &#x60;next&#x60; and &#x60;previous&#x60; cursor based on the available data. 
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [Array<OmrJob>]
    def list_omr_jobs(opts = {})
      data, _status_code, _headers = list_omr_jobs_with_http_info(opts)
      data
    end

    # List OMR jobs
    # List the caller&#39;s OMR jobs, for resuming work or cleaning up abandoned drafts.
    # @param [Hash] opts the optional parameters
    # @option opts [OmrJobStatus] :status Filter jobs by status
    # @option opts [Boolean] :expired Filter by data-retention state, independently of &#x60;status&#x60;.  * &#x60;true&#x60;: only jobs whose files have been erased. * &#x60;false&#x60;: only jobs that still hold their files.  Omit to get both. A job keeps the &#x60;status&#x60; it finished with after erasure, so this is the only way to tell the two apart. 
    # @option opts [Integer] :limit This is the maximum number of objects that may be returned (default to 50)
    # @option opts [String] :_next An opaque string cursor to fetch the next page of data. The paginated API URLs are returned in the &#x60;Link&#x60; header when requesting the API. These URLs will contain a &#x60;next&#x60; and &#x60;previous&#x60; cursor based on the available data. 
    # @option opts [String] :previous An opaque string cursor to fetch the previous page of data. The paginated API URLs are returned in the &#x60;Link&#x60; header when requesting the API. These URLs will contain a &#x60;next&#x60; and &#x60;previous&#x60; cursor based on the available data. 
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [Array<(Array<OmrJob>, Integer, Hash)>] Array<OmrJob> data, response status code and response headers
    def list_omr_jobs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OMRApi.list_omr_jobs ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OMRApi.list_omr_jobs, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OMRApi.list_omr_jobs, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/omr/jobs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'expired'] = opts[:'expired'] if !opts[:'expired'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'next'] = opts[:'_next'] if !opts[:'_next'].nil?
      query_params[:'previous'] = opts[:'previous'] if !opts[:'previous'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Flat-Locale'] = opts[:'x_flat_locale'] if !opts[:'x_flat_locale'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OmrJob>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"OMRApi.list_omr_jobs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OMRApi#list_omr_jobs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start an OMR job
    # Validate the attached files, run the permission, quota and credit checks, then queue the job for processing.
    # @param job [String] Unique identifier of the OMR job
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [OmrJob]
    def start_omr_job(job, opts = {})
      data, _status_code, _headers = start_omr_job_with_http_info(job, opts)
      data
    end

    # Start an OMR job
    # Validate the attached files, run the permission, quota and credit checks, then queue the job for processing.
    # @param job [String] Unique identifier of the OMR job
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [Array<(OmrJob, Integer, Hash)>] OmrJob data, response status code and response headers
    def start_omr_job_with_http_info(job, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OMRApi.start_omr_job ...'
      end
      # verify the required parameter 'job' is set
      if @api_client.config.client_side_validation && job.nil?
        fail ArgumentError, "Missing the required parameter 'job' when calling OMRApi.start_omr_job"
      end
      # resource path
      local_var_path = '/omr/jobs/{job}/start'.sub('{job}', CGI.escape(job.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Flat-Locale'] = opts[:'x_flat_locale'] if !opts[:'x_flat_locale'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OmrJob'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"OMRApi.start_omr_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OMRApi#start_omr_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit an interactive step
    # Resolve the step the job is currently awaiting and resume the pipeline. The request body shape depends on `step` (a `oneOf` discriminated by the step name). 
    # @param job [String] Unique identifier of the OMR job
    # @param step [OmrStepName] The pending step being submitted
    # @param body [OmrDetailsSubmission] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [OmrJob]
    def submit_omr_job_step(job, step, body, opts = {})
      data, _status_code, _headers = submit_omr_job_step_with_http_info(job, step, body, opts)
      data
    end

    # Submit an interactive step
    # Resolve the step the job is currently awaiting and resume the pipeline. The request body shape depends on &#x60;step&#x60; (a &#x60;oneOf&#x60; discriminated by the step name). 
    # @param job [String] Unique identifier of the OMR job
    # @param step [OmrStepName] The pending step being submitted
    # @param body [OmrDetailsSubmission] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_flat_locale Preferred locale for localized content in the response (translated error messages, emails, etc.).  Accepts any IETF language tag. The API best-matches the value to a supported locale and never rejects an unknown one (it falls back to the closest match, then to &#x60;en&#x60;).  Supported normalized locales: &#x60;da&#x60;, &#x60;de&#x60;, &#x60;en&#x60;, &#x60;en-GB&#x60;, &#x60;es&#x60;, &#x60;fi&#x60;, &#x60;fil&#x60;, &#x60;fr&#x60;, &#x60;fr-CA&#x60;, &#x60;hi&#x60;, &#x60;id&#x60;, &#x60;it&#x60;, &#x60;ja&#x60;, &#x60;ko&#x60;, &#x60;ms&#x60;, &#x60;nl&#x60;, &#x60;nb&#x60;, &#x60;pl&#x60;, &#x60;pt&#x60;, &#x60;pt-BR&#x60;, &#x60;ro&#x60;, &#x60;ru&#x60;, &#x60;sv&#x60;, &#x60;tr&#x60;, &#x60;zh-Hans&#x60;, &#x60;zh-HK&#x60;, &#x60;zh-TW&#x60;.  Precedence (highest first): this &#x60;X-Flat-Locale&#x60; header, the authenticated user&#39;s account locale, the &#x60;Accept-Language&#x60; header, then &#x60;en&#x60;. 
    # @return [Array<(OmrJob, Integer, Hash)>] OmrJob data, response status code and response headers
    def submit_omr_job_step_with_http_info(job, step, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OMRApi.submit_omr_job_step ...'
      end
      # verify the required parameter 'job' is set
      if @api_client.config.client_side_validation && job.nil?
        fail ArgumentError, "Missing the required parameter 'job' when calling OMRApi.submit_omr_job_step"
      end
      # verify the required parameter 'step' is set
      if @api_client.config.client_side_validation && step.nil?
        fail ArgumentError, "Missing the required parameter 'step' when calling OMRApi.submit_omr_job_step"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling OMRApi.submit_omr_job_step"
      end
      # resource path
      local_var_path = '/omr/jobs/{job}/steps/{step}'.sub('{job}', CGI.escape(job.to_s)).sub('{step}', CGI.escape(step.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Flat-Locale'] = opts[:'x_flat_locale'] if !opts[:'x_flat_locale'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'OmrJob'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OAuth2']

      new_options = opts.merge(
        :operation => :"OMRApi.submit_omr_job_step",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OMRApi#submit_omr_job_step\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
